<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.MyPlugin"
    version="2.1.1">

    <name>MyPlugin</name>
  <author>Thomas and Zach</author>
  
  <description>
    This plugin is amazing.
  </description>

  <license>MIT</license>
  
  <js-module src="www/MyPlugin.js" name="MyPlugin">
    <clobbers target="MyPlugin" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>  
  
  <!-- ios -->
  <platform name="ios">
    
    <config-file target="config.xml" parent="/*">
      <feature name="MyPlugin">
        <param name="ios-package" value="MyPlugin"/>
      </feature>
    </config-file>

    <header-file src="src/ios/MyPlugin.h" />
    <source-file src="src/ios/MyPlugin.m" />

  </platform>
</plugin>
