<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeLoBeaconFound</key>
	<string>GeLoBeacon</string>
	<key>GeLoBeaconExpired</key>
	<string>GeLoBeacon</string>
	<key>GeLoNearestBeaconChanged</key>
	<string>GeLoBeacon</string>
	<key>GeLoNearestBeaconExpired</key>
	<string>GeLoBeacon</string>
	<key>GeLoBeaconAgedGracefully</key>
	<string>nil</string>
	<key>GeLoBTLEPoweredOn</key>
	<string>nil</string>
	<key>GeLoBTLEPoweredOff</key>
	<string>nil</string>
	<key>GeLoBTLEStateUnknown</key>
	<string>nil</string>
</dict>
</plist>
